<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
       <title>Car model</title>
</head>
<body>
       <header>
              <div class="container">
                     <div class="row">
                          <a href="" class="col-12 col-md-8 header-info-company">                          
                               <div class="header-logo">
                                 <img src="Ads/logo9.png" alt="Logo">
                               </div>
 
                               <div class="header-text">
                                       <h1>Smartphone YangHi</h1>
                                       <i>Improve your life</i>
                               </div>                          
                          </a>
                         <div class="col-md-4 d-none d-md-block header-social-company"> 
                           <ul>
                             <li>
                               <a href="mailto:hiepdqgch18021@fpt.edu.vn"><img src="https://thietbidienavhh.com/file/icon/important-mail.png" alt=""></a>
                             </li> 
                             <li>
                               <a href="https://www.facebook.com/hiep.duong.35912/"><img src="https://thietbidienavhh.com/file/icon/facebook.png" alt=""></a>
                             </li>
                             <li>
                               <a href="https://www.youtube.com/user/Apple"><img src="https://thietbidienavhh.com/file/icon/youtube.png" alt=""></a>
                               </li>
                             <li>
                               <a href="https://chat.zalo.me/"><img src="https://thietbidienavhh.com/file/icon/zalo.png" alt=""></a>
                             </li>
                           </ul>
                          </div>              
                     </div>
              </div> 
       </header>
       <nav>
         <div class="container">
           <div class="row">
             
              <div class=" col-6 col-lg-9">
              <div class=" justify-content-end justify-lg-content-bettwen link-nav">
              <div class="d-none d-lg-block link-nav-main">
                     
                     <ul>
                     <li class="d-block d-lg-none">
                     <a href="" class="col-12 col-md-8 header-info-company">                          
                     <div class="header-logo">
                            <img src="Ads/logo9.png" alt="Logo">
                     </div>
                     <div class="header-text">
                            <h1>Smartphone YangHi</h1>
                            <i>improve your life</i>
                     </div>                          
                     </a>
                     </li>
                     <li>
                     <a href="" class="active">Home</a>
                     </li>
                     <li>
                     <a href="" class="active">Log in</a>
                     </li>
                     <li>
                     <a href="" class="active">Signing</a>
                     </li>
                     </ul>
              </div> 
              </div>
              </div>
            </div>
         </div>
       </nav>
</body>
</html>
