/* *{
       margin: 0;
       padding: 0;
   }
   
   :root{
   
    --font-family-main : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-font-size:
   }
   html{
       font-family:var(--font-family-main)
   } */
   
   /*------------------------------------------------- Header */
   header{ background-color: #eee;}
   
   header .header-info-company{
    display: flex;
   }
   
   .header-info-company{display: inline;}
   
   .header-info-company img{ width: 80px; height: 80px; border-radius: 50px;}
   
   .header-info-company .header-text{ margin-left: 15px;}
   
   .header-text h1{
    font-size: 25px;
    text-transform: uppercase;
   
   }
   
   .header-text i{}
   
   header .header-social-company{} 
   
   header .header-social-company ul{display: flex; list-style: none; margin-top: 10px;}
   
   header .header-social-company li {
    margin-right: 2px;
    display: block;
   }
   
   header .header-social-company a:hover{
    padding: 5px;
    border-radius:5px ;
    box-shadow: 0px 1px 4px 0px cornflowerblue;
    transform: translateY(-4);
    transition: 0.4s;
   }
   .header-social-company a{
    display: block;
   }
   header .header-social-company img{
    width: 40px;
    height: 40px;
   }
   
   /* End Header */

   /*----------------------------------------------------- NAV */

nav{
       background-color: #007bff;
       box-shadow: 2px 4px 8px 0px black;
      }
      /* nav .nav-title-category{
       height: 100%;
       background-color: chocolate;
       font-size: 14px;
       font-weight: 600;
       text-transform: uppercase;
       display: flex;
       align-items: center;
        background: unset;
      } */
       
      @media(max-width:991px){}
      .nav-title-category i{
       font-size: 16px;
       margin-left: 10px;
       margin-right: 10px;
      }
      
      .nav-title-category span{}
      
      nav .link-nav{
       justify-content: space-between;
       display: flex;
      }
      
      .link-nav .link-nav-main{
       margin-right: auto;
      }
      
      .link-nav .link-nav-main ul{
       display: flex;
       list-style: none;
       margin: 10px 0px;
      }
      
      .link-nav-main li{
       padding-left: 5px;
       list-style: none;
      }
      
      .link-nav-main a{
       font-size: 14px;
       font-weight: 600;
       text-transform: uppercase;
       color: white;
       padding: 0px 5px;
      text-decoration: none;
       
      }
      .link-nav-main a.active{
      color: #ffc700;
      }
      
      .link-nav .link-nav-search{
       display: flex;
       align-items: center;
       position: relative;
      }
      
      .link-nav-search .search-page{
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      background-color: navajowhite;
      height: 100%;
      border-radius: 4px;
      padding: 5px 10px;
      box-shadow: 0px 1px 4px 0px rgba(84, 84, 84, 1);
      }
      
      .link-nav-search i{}
      
      .search-page select{}
      
      .search-page input{}
      
      .search-page i{}
      
      @media(max-width: 991px){
       .link-nav-main .background-black{
       position: fixed;
       top: 0;
       left:0 ;
       width: 100%;
       height: 100%;
       background: rgb(0 123 255 / 32%);
       z-index:2;
       text-align: right;
       font-size: 20px;
       font-weight: 600;
       padding: 20px 10px;
       }
      
       .header-text h1{
           display: block;
           font-size: 1.5rem;
           color: var(--main-color) !important;
           font-weight: 600 !important;
       }
       
       .link-nav .link-nav-main ul{
           position: fixed;
           top: 0;
           margin-top: 0;
           left: -10px;
           z-index: 2;
           display: block;
           background-color: white;
           width: 45%;
           height: 100%;
           padding: 5px 10px;
       }
       
       .link-nav-main li{ 
           padding: 10px 0px;
           border-bottom: solid 2px  #eaeaea;
          
       }
       
       .link-nav-main a{
       display: flex;
       color: black;  
       }
       .link-nav-main a:hover{
           transition: 0.4s;
       }
       .link-nav-main a.active{
         
       }
       
      }
      
      /* END NAV */