<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
 <h1>Information Product</h1>
<form action="/add" method="POST">     
      ID  <input type="text" name="txtId"> 
      <br>
      Name <input type="text" name = "txtName">
      <br>     
      Price <input type="text" name="txtPrice">
      <br>
      <input type="submit" value="Add Product">     
       </form> 
       <br>
<table border="3" class="table">
  <tr>
    <th>No</th>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Delete</th>
  </tr>
{{#each data}}
  <tr> 
    <td>1</td>
    <td>{{ID}} </td>
    <td>{{Name}} </td>
    <td>{{Price}} </td>
    <td><a href="/delete?id={{_id}}">Delete</a></td>
    
  </tr>
{{/each}}

<a href="add.hbs">ADD</a>

</body>
</html>